.advantages {
  background-image: url("../img/content/advantages-desktop.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 562px;
  background-color: #d2e1f1;

  @media (min-width: 1366px) and (min-resolution: 2dppx) {
    background-image: url("../img/content/advantages-desktop@2x.jpg");
  }

  @media (max-width: 1365px) {
    min-height: 588px;
    background-image: url("../img/content/advantages-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/advantages-tablet@2x.jpg");
    }
  }

  @media (max-width: 767px) {
    min-height: 997px;
    background-image: url("../img/content/advantages-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/advantages-mobile@2x.jpg");
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  padding-top: 110px;
  text-align: center;

  @media (max-width: 1365px) {
    font-size: 26px;
    line-height: 39px;
    padding-top: 89px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 36px;
    padding-top: 57px;
    margin-bottom: 3px;
  }
}

.advantages__card {
  width: 31%;
  min-height: 241px;
  background-color: #f9fbfd;
  text-align: left;
  margin-top: 26px;
  position: relative;
  margin-bottom: 5px;

  @media (max-width: 1365px) {
    min-height: 310px;
    min-width: 206px;
    width: 30%;
  }

  @media (max-width: 767px) {
    min-height: 249px;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 4px;
  }
}

.advantages__card:nth-child(3n+1)::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 30px;
  background-image: url("../img/svg/ship-desktop.svg");
  width: 27px;
  height: 32px;

  @media (max-width: 1365px) {
    left: 20px;
    top: 26px;
    background-image: url("../img/svg/ship-tablet.svg");
    width: 21px;
    height: 26px;
  }
}

.advantages__card:nth-child(3n+2)::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 35px;
  background-image: url("../img/svg/check-desktop.svg");
  width: 38px;
  height: 21px;

  @media (max-width: 1365px) {
    left: 20px;
    top: 30px;
    background-image: url("../img/svg/check-tablet.svg");
    width: 33px;
    height: 19px;
  }

  @media (max-width: 767px) {
    left: 20px;
    top: 28px;
  }
}

.advantages__card:nth-child(3n+3)::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 38px;
  background-image: url("../img/svg/boat-desktop.svg");
  width: 42px;
  height: 15px;

  @media (max-width: 1365px) {
    left: 20px;
    top: 33px;
    background-image: url("../img/svg/boat-tablet.svg");
    width: 38px;
    height: 13px;
  }

  @media (max-width: 767px) {
    left: 20px;
    top: 31px;
  }
}

.advantages__card h3 {
  margin-left: 30px;
  margin-top: 82px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;

  @media (max-width: 1365px) {
    margin-left: 20px;
    margin-top: 72px;
    margin-bottom: 5px;
  }

  @media (max-width: 767px) {
    width: 59%;
    margin-top: 70px;
  }
}

.advantages__card p {
  margin-left: 30px;
  margin-top: 9px;
  width: 82%;

  @media (max-width: 1365px) {
    margin-left: 20px;
  }

  @media (max-width: 767px) {
    width: 88%;
  }
}
