.contacts {
  min-height: 546px;

  @media (max-width: 1023px) {
    min-height: 535px;
  }

  @media (max-width: 767px) {
    min-height: 703px;
  }
}

.contacts__wrapper {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1023px) {
    padding-top: 97px;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    padding-top: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__map {
  @media (max-width: 767px) {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__map iframe {
  width: 560px;
  height: 306px;

  @media (max-width: 1023px) {
    width: 324px;
    height: 335px;
  }

  @media (max-width: 767px) {
    width: 290px;
    height: 316px;
  }
}

.contacts__adress {
  padding-left: 100px;

  @media (max-width: 1365px) {
    padding-left: 30px;
    margin-left: 0;
  }

  @media (max-width: 767px) {
    padding-left: 0;
    margin-right: 0;
  }
}

.contacts__adress h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  @media (min-width: 1366px) {
    width: 500px;
    padding-top: 57px;
  }

  @media (max-width: 1023px) {
    padding-top: 51px;
    width: 100%;
  }

  @media (max-width: 767px) {
    padding-top: 40px;
    width: 95%;
  }
}

.contacts__adress p {
  font-size: 16px;
  line-height: 24px;
  padding-left: 28px;
  padding-top: 14px;
  position: relative;

  @media (max-width: 1023px) {
    padding-top: 9px;
    width: 81%;
  }

  @media (max-width: 767px) {
    width: 89%;
  }
}

.contacts__adress p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  background-image: url("../img/svg/flag-desktop.svg");
  width: 18px;
  height: 22px;
  background-repeat: no-repeat;
}

.contacts__adress a {
  display: block;
  width: 150px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 28px;
  padding-top: 5px;
  color: #011c40;
  position: relative;

  &:hover {
    color: #58b0e4;
  }
}

.contacts__adress span {
  @media (min-width: 768px) and (max-width: 798px) {
    padding-right: 104px;
  }

  @media (min-width: 320px) and (max-width: 345px) {
    padding-right: 73px;
  }
}

.contacts__adress a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background-image: url("../img/svg/phone-desktop.svg");
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
}
