//          Социальные сети
// ----------------------------------

.footer-social {
  margin-right: 10px;
  width: 21%;

  @media (max-width: 767px) {
    width: 100%;
  }
}

//          Список меню
// ----------------------------------

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-top: 50px;
  list-style: none;
  padding-left: 30px;
  justify-content: flex-end;


  @media (min-width: 1366px) {
    margin-right: 60px;
    padding-left: 42px;
  }


  @media (max-width: 1023px) {
    margin-right: 12px;
    margin-top: 42px;
    padding-left: 18px;
  }

  @media (max-width: 767px) {
    margin-right: 12px;
    margin-top: 5px;
    padding-left: 15px;
    justify-content: start;
  }
}

.footer-social__list li {
  margin-right: 33px;
  margin-top: 10px;

  @media (max-width: 1023px) {
    margin-right: 23px;
    margin-top: 10px;
  }
}

.footer-social__list a {
  fill: #f9fbfd;

  &:hover {
    fill: #58b0e4;
  }
}

//       Иконки соцсетей
// ----------------------------

.footer-social__facebook-desktop {
  @media (max-width: 1023px) {
    display: none;
  }
}

.footer-social__facebook-tablet {
  display: none;

  @media (max-width: 1023px) {
    display: block;

    &:hover {
      fill: #58b0e4;
    }
  }
}

.footer-social__instagram-desktop {
  @media (max-width: 1023px) {
    display: none;
  }
}

.footer-social__instagram-tablet {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}

.footer-social__twitter-desktop {
  @media (max-width: 1023px) {
    display: none;
  }
}

.footer-social__twitter-tablet {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}
