//        Основной бэкграунд
// --------------------------------

.page-footer {
  position: relative;
  background-color: #011c40;
  min-height: 138px;

  @media (max-width: 1023px) {
    min-height: 120px;
  }

  @media (max-width: 767px) {
    min-height: 283px;
  }

  @media (min-width: 380px) and (max-width: 767px) {
    min-height: min-content;
    padding-bottom: 30px;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

//                Меню
// ----------------------------------

.page-footer__nav {
  display: flex;
  margin-top: 30px;
  width: 70%;

  @media (max-width: 1023px) {
    width: 92%;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

//               Логотип
// ------------------------------------

.page-footer__logo a {
  display: block;
  margin-left: 103px;
  margin-top: 20px;

  @media (max-width: 1023px) {
    margin-left: 45px;
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    margin-left: 15px;
    margin-top: 10px;
    width: 40px;
  }

  @media (min-width: 380px) and (max-width: 767px) {
    margin-top: 20px;
  }
}

.page-footer__logo-desktop {
  @media (max-width: 1023px) {
    display: none;
  }
}

.page-footer__logo-tablet {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.page-footer__logo-mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

//           Список меню
// ---------------------------------------

.page-footer__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 75%;

  @media (max-width: 1023px) {
    font-size: 12px;
    line-height: 15px;
    padding-left: 26px;
  }

  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
    padding-left: 15px;
    margin-top: 17px;
    margin-bottom: 5px;
    flex-direction: column;
  }
}

.page-footer__list li {
  margin-top: 14px;
  margin-right: 33px;

  @media (max-width: 1023px) {
    margin-top: 10px;
    margin-right: 23px;
  }

  @media (max-width: 767px) {
    margin-bottom: 7px;
  }
}

.page-footer__list a {
  color: #f9fbfd;

  &:hover {
    color: #58b0e4;
  }
}
