.wrapper {
  margin-left: 103px;
  margin-right: 103px;

  @media (max-width: 1365px) {
    margin-left: 45px;
    margin-right: 45px;
  }

  @media (max-width: 767px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
