img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

input::placeholder {
  color: #011c40b2;
}

input::-webkit-input-placeholder {
  color: #011c40b2;
}

input::-moz-placeholder {
  color: #011c40b2;
}

input:-moz-placeholder {
  color: #011c40b2;
}

input:-ms-input-placeholder {
  color: #011c40b2;
}
