.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.noselect {
  user-select: none;
}

.wrapper {
  margin-left: 103px;
  margin-right: 103px;

  @media (max-width: 1023px) {
    margin-left: 45px;
    margin-right: 45px;
  }

  @media (max-width: 767px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.menu-open {
  height: 100vh;
  overflow: hidden;
}

.menu-open main {
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;
  background-color: #002b6680;
  display: none;
}

.overlay--open {
  display: block;
}
